div {
	margin: 5px;
	margin-bottom: 10px;
}

label {
	font-weight: bold;
	margin-right: 5px;
}

textarea {
	display: block;
	font-family: serif;
}

#submitButton {
	width: 80px;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
}

#extrasDiv input {
	width: 100px;
}

#tags > span, #extras > span {
	border: 1px white solid;
	border-radius: 5px;
	padding: 3px;
	margin-right: 10px;
}