body {
	background-color: #333;
	color: white;
}

#animetable {
	border-spacing: 0px;
}

#animetable th,td {
	border-width: 1px;
	border-color: white;
	border-style: solid;
	padding: 3px;
	text-align: center;
}

a:visited {
	color: fuchsia;
}